@import "vars";

@import "header";
@import "footer";
@import "repeating_blocks";

@import "main_content";
@import "images/images";

@import "fishing_report/fishing_report";
@import "fishing_report/view";

@import "club/register";
@import "club/view";
@import "club/edit";

@import "calendar/calendar";
@import "news/view";
@import "news/news_clubs_city_list";
@import "home/home";
@import "blog/index";
@import "blog/view";
@import "main/index";
@import "main/info_day";
@import "main/menu";
@import "rybak/view_profile";
@import "rybak/edit_user_profile";
@import "blog/view";
@import "account/registration";
@import "account/view";
@import "account/edit";
@import "tournament/create";
@import "question_answer/index";
@import "question_answer/view";
@import "review/review";


@import "adminka/adminka";

body{
  font-family: FiraSansExtraCondensed-Regular;
}


* { box-sizing: border-box; }
body {
    font: 16px Arial;
}

a{
  color: @accent2;
  &:hover{
    color: @accent;
  }
}

.wrapper__base {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content__base {
  flex: 1 0 auto;
}



.content__menu{
  border-right: 1px solid @accent2;

  .content__menu__title{
    border-bottom: 1px solid @accent2;
    margin: 0 0 5px 0;
    padding: 0 0 6px 15px;
    p{
      font-weight: 600;
      font-size: 1.1rem;
      margin: 0;
      padding: 0;
      letter-spacing: 2px;
    }
  }
  .content__menu__item__wrap{
    border-bottom: 1px solid @accent;
    padding-bottom: 9px;

    .content__menu__item{
      margin: 0 0 3px 0;
      display: flex;

      a{
        margin: 0 0 0 15px;
        padding: 8px 0 0 0;
        color: #434343;
        text-transform: uppercase;
        letter-spacing: 1px;

        svg{
          height: 30px;
          width: auto;
          margin-right: 5px;
        }

        &:hover{
          color: @accent;

          svg{
            fill: @accent;
          }
        }
      }
    }

  }
}

.input__errors{
    margin-top: 5px;
    color: #be0000;
    font-weight: bold;

}
.input__errors .errorlist{
    padding-left: 5px;
}
.input__errors .errorlist li{
    list-style: none;
}

//выбор страны региона города
.wrapper__select2{
  .select2-selection__clear{
    color: red;
  }
}

button{
  color: #fff;
  border: 1px solid @accent;
  border-radius: 5px;
  display: block;
  text-align: center;
  background: #ff8940;
  margin: 0 auto;
  font-weight: 400;
  vertical-align: middle;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  &:hover{
    background: @accent;
  }
  &:focus{
    outline: none;
  }
}

//Навигация по контенту
.content__nav{
  .btn__back__wrap{
    flex-direction: column;
    display: flex;
    justify-content: center;

    .btn__back{
      margin-left: 10px;
      a{
        display: block;
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        position: relative;
        border: 1px solid @accent2;
        transition: all 0.2s;

        &:hover{
          background: @accent2;
          transition: all 0.2s;

          .icon{
            svg{
              color: #fff;
            }
          }
        }

        .icon{
          svg{
            width: 22px;
            color: @accent2;
            transition: all 0.2s;
            margin: 2px 0 0 11px;
          }
        }
      }
    }
  }


  .text{
    background-color: #f3f3f3;
    border-radius: 15px;
    color: #ff6200;
    font-size: 1.6rem;
    line-height: 28px;
    padding: 10px 0;
    border: 1px solid #ff6200;
    letter-spacing: 3px;
    text-align: center;
  }

  .btn__track__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .btn__track{
      a{
        .btn__track__wrap{
          display: flex;
          justify-content: flex-end;
          margin-right: 10px;

          .btn__track__text{
            font-size: 17px;
            padding: 15px 5px 0 0;
            color: @accent2;
            text-decoration: none;
            text-align: right;
          }

          .btn__track__star{
            width: 50px;
            svg{
              fill: @accent2;
            }
          }

          &:hover{
            .btn__track__text{
              color: @accent;
            }

            .btn__track__star{
              svg{
                fill: @accent;
              }
            }
          }
        }

        &:hover{
          text-decoration: none;
        }

      }
    }
  }


}


.content{
  border: 1px solid @accent2;
  margin: 20px 0 65px 0;
  border-radius: 5px;
  padding: 10px;
}


//фон для названия блоков
.bg__plashka{
  background: @accent;
  padding: 6px 20px;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 4px;
}

.info__block{
  margin: 10px 0 0 0;
  border-bottom: 1px solid #ccc;
  padding: 0 0 5px 0;

  .info__block__name{
    text-transform: uppercase;
    color: @accent;
  }
  .info__block__text{
    margin: 3px 0 0 0;
  }
}

//autocomplite
.autocomplete {
    position: relative;
    display: inline-block;
}
.autocomplete-items {
    overflow: scroll;
    max-height: 300px;
    position: absolute;
    border: none;
    z-index: 99;
    top: 100%;
    left: 15px;
    right: 0;
    overflow-x: hidden;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid @accent;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}