<header class="header" id="header">
    <div class="row">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">City Events</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarTradeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Торговля
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarTradeDropdown">
                                <a class="dropdown-item" href="#">Магазины</a>
                                <a class="dropdown-item" href="#">Торговые центры</a>
                                <a class="dropdown-item" href="#">Супермаркеты</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarEstablishmentDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Заведения
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarEstablishmentDropdown">
                                <a class="dropdown-item" href="#">Кафе</a>
                                <a class="dropdown-item" href="#">Рестораны</a>
                                <a class="dropdown-item" href="#">Клубы</a>
                            </div>
                        </li>
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="#">News</a>-->
<!--                        </li>-->
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>


            <!--            <div class="topnav" id="myTopnav">-->
            <!--                <a href="#home" class="active">Home</a>-->
            <!--                <a href="#news">News</a>-->
            <!--                <a href="#contact">Events</a>-->
            <!--                <a href="#about">About</a>-->
            <!--                <a href="javascript:void(0);" class="icon" onclick="myFunction()">-->
            <!--                    <i class="fa fa-bars"></i>-->
            <!--                </a>-->
            <!--            </div>-->
        </div>
    </div>
</header>

<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>


