{% block content %}
<div class="menu__content" id="menu_content">
    <div class="item__menu__wrap">
        <div class="item__title">
            Торговля
        </div>
        <div class="item__menu">
            <a href="">Магазины</a>
        </div>
        <div class="item__menu">
            <a href="">Торговые центры</a>
        </div>
        <div class="item__menu">
            <a href="">Супермаркеты</a>
        </div>
    </div>
    <div class="item__menu__wrap">
        <div class="item__title">
            Заведения
        </div>
        <div class="item__menu">
            <a href="">Кафе</a>
        </div>
        <div class="item__menu">
            <a href="">Рестораны</a>
        </div>
        <div class="item__menu">
            <a href="">Клубы</a>
        </div>
    </div>
</div>
{% endblock %}