{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block description %}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-6">
            <div class="mb-2 title__section">Регистрация</div>
            <form action="" method="post">{% csrf_token %}
                {{ form.as_p }}
                <input class="waves-effect waves-light btn" type="submit" value="Зарегистрировать">
            </form>
        </div>
    </div>
</div>
{% endblock %}